.splash-container {
  width: 100%;
  height: 700px;
  background:  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -background-size: cover;
}

.splash-title {
  font-family: 'Libre Baskerville';
  font-weight: normal;
  font-size: 6.15em;
  font-variant: all-small-caps;
  color: #fff;
  line-height: 1em;
  padding-top: 20%;
  width: 67%;
  margin: 0 auto;
}

@media screen and (max-width: 787px) {
  .splash-container {
    height: 350px;
  }

  .splash-title {
    font-size: 3em;
    line-height: 1em;
    width: 60%;
  }
}