body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.clear-fix{
  width: 100%;
  display: block;
}

/* Zola */
/* <People /> */
#people-container {
  width: 85%;
  display: block;
  margin: 5% auto;
}

/* <Person /> */
.person {
  width: 29%;
  height: 400px;
  display: inline-block;
  border: 2px solid #000;
  margin: 1% ;
}

.person .name {
  font-size: 16px;
  font-weight: bold;
}

.person .category {
  font-size: 12px;
}

.person .age {
  font-style: italic;
  font-size: 12px;
}


/* Sort */
.sort-people-container,
.filter-people-container {
  width: 28%;
  height: 150px;
  border: 1px solid black;
  margin: 0 4% 3%;
}

.sort-people-container {
  float: left;
  margin-left: 15%;
}

.filter-people-container {
  float: right;
  margin-right: 15%;
}

select {
  width: 200px;
  height: 33px;
  margin: 0 auto 4%;
  font-size: 14px;
  line-height: 14px;
  overflow: hidden;
}

/* Filter */

.filter-people-container .input-control {
  width: 95%;
  display: block;
  text-align: left;
  margin: 1% 0 1% 4%;
}

.filter-people-container label {
  margin: 0 0 0 5px;
  display: inline;
  position: relative;
}

.filter-people-container input[type="radio"] {
  display: inline;
  position: relative;
}
/* end Zola */