.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}




/* Zola */
/* <People /> */
#people-container {
  width: 85%;
  display: block;
  margin: 5% auto;
}

/* <Person /> */
.person {
  width: 29%;
  height: 400px;
  display: inline-block;
  border: 2px solid #000;
  margin: 1% ;
}

.person .name {
  font-size: 16px;
  font-weight: bold;
}

.person .category {
  font-size: 12px;
}

.person .age {
  font-style: italic;
  font-size: 12px;
}


/* Sort */
.sort-container p {
  margin-bottom: 1%;
}

select {
  width: 15%;
  height: 33px;
  margin: 0 auto 2%;
  font-size: 14px;
}



/* Filter */

/* end Zola */